.Error {
    background: #ff0055;
    color: #ffffff;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}

.Error h1 {
    margin: 0;
    font-size: 1.5rem;
}

.Error p {
    margin: 0;
}